body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f7f8f9;
}

.navbar {
    background-color: #ffffff;
    height: 75px;
    box-shadow: 0 4px 4px #f0f2f3;
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
    align-items: center;
}

.logo {
    height: 60px;
    padding-right: 12px;
}

.profile {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 13px;
    & > .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f0f2f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    & > .text {
        font-size: 17px;
        font-weight: 400;
        color: #646677;
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 13px;

    & > .line {
        width: 3px;
        height: 40px;

        background-color: #f7f8f9;
    }

    & > .search-icon {
        /* font-size: 20px; */
        fill: #646677;
        height: 25px;
        margin-left: 10px;
    }

    & > .search-input {
        border: none;
        background-color: transparent;
       font-size: 17px;
       &::placeholder {
            color: #CBD0D3;
            font-weight: 100;
       }
    }
}

.rest {
    height: calc(100vh - 75px);
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0 100px;
    & > .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: calc(100%/ 3);

        & > .title {
            width: 100%;
            font-size: 25px;
            margin-top: 45px;
        }

        & > .card {
            background-color: #ffffff;
            padding: 10px 20px;

            & > .card-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & > .prof {
                    border-radius: 50%;
                    height: 35px;
                    aspect-ratio: 1;
                    background-color: #3591FB;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                }

                & > .header {
                    color: #a176ff;
                    font-size: 15px;
                }
            }

            & > .header {
                color: #404360;
            }

            & > .sub-header {
                color: #b3b3bc;
            }
        }
    }
}